{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" media="screen" href="{% static 'style.css' %}">
		{% if config.url_favicon %}<link rel="shortcut icon" href="{% static 'favicon.ico' %}">{% endif %}
		<link rel="stylesheet" type="text/css" id="stylesheet" href="{% static 'ukrchan.css' %}">
		<link rel="stylesheet" media="screen" href="{% static 'recent.css' %}"/>
		<title>{{ flatpage.title }} | Кропивач</title>
	</head>
	<body>
		<div class="boardlist">
			<span class="top">
				[ <a href="{% url 'index' %}">/Головна/</a> ]
			</span>
			{% load flatpages %}
			{% get_flatpages as flatpages %}
			{% for page in flatpages %}
				<span class="top">
					[ <a href="/about{{ page.url }}" title="{{ page.title }}">/{{ page.title }}/</a> ]
				</span>
			{% endfor %}
			<span class="top">
				[ <a href="{% url 'statistics' %}">/статистика/</a> ]
			</span>
			<span class="top">
				[ <a href="https://twitter.com/kropyvach">/твіттер/</a> ]
			</span>
			<span class="top">
				[ <a href="https://drama.kropyva.ch/">/енциклопедія/</a> ]
			</span>
			<select class='mobile-only' onChange="window.location.href=this.value">
				<option value="">Навігація</option>
				{% for page in flatpages %}
					<option value="/about{{ page.url }}/">/{{ page.title }}/</option>
				{% endfor %}
				<option value="/statistics/">/статистика/</option>
				<option value="https://twitter.com/kropyvach">/твіттер/</option>
				<option value="https://drama.kropyva.ch/">/енциклопедія/</option>
			</select>
		</div>
		<header>
			<h1 style="font-family: 'Lobster', cursive;">{{ flatpage.title }}</h1>
		</header>
		<div style="width: 70%; margin-left: auto; margin-right: auto;">
			<p>
				{{ flatpage.content|safe }}
			</p>
			<br>
		</div>
		<hr/>
		<footer>
			<label>Кропивач 2016-2019</label>
			<br>
		</footer>
		{% if not nojavascript %}
			<script type="text/javascript"">
				{% include 'posts/main.js' %}
			</script>
			<script type="text/javascript" src="{% static 'jquery.js' %}"></script>
			<script type="text/javascript" src="{% static 'style-select.js' %}"></script>
		{% endif %}
		<script type="text/javascript">
			var styles = {
				'Kropyvaba' : '{% static 'style.css' %}',
				'Ukrchan' : '{% static 'ukrchan.css' %}',
				'Futaba' : '{% static 'futaba.css' %}',
			}; onready(init);
		</script>
		<script type="text/javascript">
			ready();
		</script>
	</body>
</html>
