{% extends 'posts/base.html' %}
{% load static %}
{% load index %}

{% block header %}
	<title>Сторінку не знайдено| Кропивач</title>
	<link rel="stylesheet" media="screen" href="{% static config.recent %}"/>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="boardlist">
		<span class="top" data-description="0">
			[ <a href="/help">/ЧаПи/</a> ]
		</span>
		<span class="top" data-description="1">
			[ <a href="/bugs/" title="Пропозиції та претензії">/зауваження/</a> ]
		</span>
		<span class="top" data-description="2">
			[ <a href="/mobile" title="Для власників смартфонів">/мобільна версія/</a> ]
		</span>
		<span class="top" data-description="3">
			[ <a href="/donate" title="Підтримка сайту">/пожертвувати/</a> ]
		</span>
		<span class="top" data-description="4">
			[ <a href="https://twitter.com/kropyvach">/твіттер/</a> ]
		</span>
		<span class="top" data-description="5">
			[ <a href="https://drama.kropyva.ch/">/енциклопедія/</a> ]
		</span>
	</div>
	<header>
		<h1 style="font-family: 'Lobster', cursive;">404 - Сторінку не знайдено</h1>
	</header>
	<div style="width: 70%; margin-left: auto; margin-right: auto;">
		<br>
	</div>
	<hr/>
	<footer>
		<label>Кропивач 2016-2019</label>
		<br>
	</footer>
{% endblock content %}

{% block script %}
	<script type="text/javascript">
		var styles = {
			{% for name, uri in config.stylesheets %}'{{ name }}' : '{% static uri %}',
			{% endfor %}
		}; onready(init);
	</script>
	<script type="text/javascript">
		ready();
	</script>
{% endblock script %}
